# notes
**em-heat-theory.pdf
reports/*/*.pdf


# General
**prompt**.md
**prompt.py
**test.py
**tmp.py
*tmp.md
*_*.py        # ignore all _*.py
!*__*.py      # except for __*.py
**.log
**_.gif
**_.mp4
**_.jpg

# Distribution / packaging
**__pycache__
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
lib64/
parts/
.pytest_cache/
.python-version
.Python
sdist/
var/
wheels/

# Environments
.env
.venv
venv/
